{% extends "base.html" %}


{% block contenido %}

<style>

body {
    background-image: url('/static/img/fondo_donas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

</style>

<div class="text-center p-5">


    <h1 style="font-size:60px;">
        🍩
    </h1>


    <h1>
        Mini Tentaciones
    </h1>


    <p>
        Donas artesanales hechas con amor ❤️
    </p>


    <a href="{{ url_for('catalogo') }}"
       class="btn btn-warning btn-lg">

        🛒 Ver catálogo

    </a>


    <div class="mt-4">

        <a href="https://www.instagram.com/minii_tentacioness_ayc?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
           class="btn btn-danger">

            📸 Instagram

        </a>


        <a href="https://wa.me/5492612070017"
           class="btn btn-success">

            💬 WhatsApp

        </a>


    </div>


</div>


{% endblock %}