{% extends "base.html" %}


{% block contenido %}

<style>

.portada {

    min-height: 75vh;

    display: flex;

    align-items: center;

    justify-content: center;


    background-image: url('/static/img/fondo_donas.jpg');

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;


    border-radius: 30px;

    overflow: hidden;

    position: relative;

}


/* Oscurece un poco la imagen para que se lea el texto */
.portada::before {

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(0,0,0,0.35);

}



.contenido-portada {

    position: relative;

    z-index: 2;

    text-align: center;

    color: white;

    padding: 50px;

}



/* Sombra para que el texto destaque */

.contenido-portada h1,
.contenido-portada p {

    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);

}



.contenido-portada h1 {

    font-size: 60px;

    font-weight: 800;

}



.contenido-portada p {

    font-size: 24px;

}



.btn-portada {

    border-radius: 20px;

    padding: 12px 35px;

    font-size: 20px;

    font-weight: bold;

    transition: .3s;

}



.btn-portada:hover {

    transform: scale(1.05);

}



</style>



<div class="portada">


    <div class="contenido-portada">


        <h1>
            🍩 Mini Tentaciones
        </h1>


        <p>
            Donas artesanales hechas con amor ❤️
        </p>



        <a href="{{ url_for('catalogo') }}"
           class="btn btn-warning btn-portada mt-3">

            🛒 Ver catálogo

        </a>



        <div class="mt-4">


            <a href="https://www.instagram.com/minii_tentacioness_ayc?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
               class="btn btn-danger btn-portada me-2">

                📸 Instagram

            </a>



            <a href="https://wa.me/5492612070017"
               class="btn btn-success btn-portada">

                💬 WhatsApp

            </a>


        </div>


    </div>


</div>



{% endblock %}